<Ui>
  <!-- ADDON LOADER -->
  <Include file="addon-loader/initialize.lua" />
  <Include file="addon-loader/load-handler.lua" />
  <Include file="addon-loader/handlers/on-addon-loaded.lua" />
  <Include file="addon-loader/handlers/on-event.lua" />
  <Include file="addon-loader/handlers/on-service-request.lua" />

  <!-- CONFIGURATION PANELS -->

  <!-- <Include file="config-interface/category.lua" />
  <Include file="config-interface/manager.lua" />
  <Include file="config-interface/panel.lua" /> -->
  
  <!-- GARBAGE COLLECTOR -->
  <Include file="garbage-collector.lua" />
</Ui>